---
// filepath: /Users/alex/ProyectsDev/MyProyects/portfolio/porfolio-astro/my-portfolio/src/components/heroBackground/OrbitalBg.astro
import Star from "@icons/utils/Star.astro";

const generateRandomRotation = () => {
  return Math.random() * 360;
};

const generateRandomDuration = () => {
  return Math.random() * 20 + 5;
};

const generateRandomOpacity = () => {
  return (Math.random() * 0.8 + 0.2).toFixed(2);
};

const generateRandomSize = () => {
  return Math.random() * 40 + 10; 
};

const generateRandomOrbitalTime = () => {
  return Math.random() * 100 + 60; 
};

const stars = () => Array.from({ length: 10 }, (_, i) => ({
  id: i,
  rotation: generateRandomRotation(),
  rotationPosition: generateRandomRotation(),
  orbitalTime: generateRandomOrbitalTime(),
  duration: generateRandomDuration(),
  opacity: generateRandomOpacity(),
  size: generateRandomSize(),
}));

const orbits = Array.from({ length: 3 }, (_, i) => ({
  id: i,
  orbitSize: 700 + i * 200,
  starsSize: 500 + i * 100,
}));
---
{orbits.map((orbit) => (
  <div>
    <div  
      class="absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full opacity-5" 
      style={`width:${orbit.orbitSize}px;height:${orbit.orbitSize}px; box-shadow: inset 0 0 50px 20px rgba(110, 231, 183, 0.5);`}
    />
    {
      stars().map((star) => (
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-0"> 
          <div class="animate-spin" style={`animation-duration:${star.orbitalTime}s`}> 
            <div class="flex items-start justify-start" style={`width:${orbit.starsSize}px;height:${orbit.starsSize}px;transform:rotate(${star.rotation}deg)`}> 
              <div class="animate-spin" style={`animation-duration:${star.duration}s`}> 
                <div class="inline-flex" style={`transform:rotate(${star.rotationPosition}deg)`}>  
                  <div class="inline-flex" style={`width:${star.size}px; height:${star.size}px; opacity:${star.opacity}`}>
                    <Star class="w-full h-full text-yellow-100" />
                  </div>              
                </div> 
              </div> 
            </div> 
          </div> 
        </div>
      ))
    }
  </div>
))}

